# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
env/

# Django
db.sqlite3
media/

# React
node_modules/
build/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db